<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Đây là title</title>
</head>
<body>
<h2>Máy tính đơn giản</h2>
<form action="/result">
    <h4>Vui lòng chọn gia vị:</h4>
    <div>
        <input type="number" name="first_number" placeholder="số thứ nhất">
        <input type="number" name="second_number" placeholder="số thứ hai">
    </div>
    <br />
    <input type="submit" value="nhan" name="pheptinh">
    <input type="submit" value="chia" name="pheptinh">
    <input type="submit" value="cong" name="pheptinh">
    <input type="submit" value="tru" name="pheptinh">
</form>
</body>
</html>